<% status_actions = IssueStatus.all.where('action != ?', "").map(&:action).flatten.uniq %>
<% if status_actions.size > 0 && !status_actions.nil? && status_actions != ""%>
  <br />
  <h2 id="status_action"><%= l(:field_status_action) %> [+]</h2>
  <table id="table-status_action">
    <thead>
      <th align="left" width="180px"><%= ll(@settings["default_language"], :general_lang_name) %></th>
      <% @settings["locales_to_translate"].each do |locale| -%>
        <th align="left"><%= ll(locale, :general_lang_name) %></th>
      <%- end -%>
    </thead>
    <%- @settings["locales"][:status_actions] = {} if @settings["locales"][:status_actions].nil? -%>
    <% status_actions.each do |status_action| %>
    <%- @settings["locales"][:status_actions][status_action] = {} if @settings["locales"][:status_actions][status_action].nil? -%>
      <tr>
        <td>
          <%= status_action %>
        </td>
        <%- @settings["locales_to_translate"].each do |locale| -%>
        <td align="left">
          <input name="settings[locales][status_actions][<%= status_action %>][<%= locale.to_s.force_encoding("UTF-8") %>]"
                 value="<%= @settings["locales"][:status_actions][status_action][locale].to_s.force_encoding("UTF-8") %>" />
        </td>
        <%- end -%>
      </tr>
    <% end %>
  </table>
<% end %>
